*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    height: 500\px;
    width: 800px;
    border: 1px solid rgb(244, 188, 152);
    margin: auto;
    margin-top: 50px; 
    box-shadow: 15px 15px burlywood;
}
.form{
    display: flex;
    flex-direction: column ;
    width: 50%;
    align-items: center;
    background-color: whitesmoke;
}
.form h1{
    font-size: 3rem;
    font-family: o=Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
}
.box{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}
#submit{
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}

#submit:hover{
    cursor:pointer;
    background-color: #750000;
}
.form a{
    text-decoration: none;
    color: black;
    margin-top: 20px;
}
.form a:hover{
    color: #fd4e4e;
}
.side{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: whitesmoke;
}
.side img{
    width: 395px;
    height: 495px;
}
